DATABASE_URL="postgresql://neondb_owner:npg_Erv6Okadt4RW@ep-misty-union-aykfi33g-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_Erv6Okadt4RW@ep-misty-union-aykfi33g.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_ACCESS_SECRET="3bdddd2d60572f6575095c4c293c4915d42e047f36f95ad1770cd74b71ce0e65"
JWT_REFRESH_SECRET="2093199a621bd6c32819bc358dd229c372ba57a08171616ad32313b15cd8d0ef"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL="7d"
PORT=3000
CLIENT_URL="http://localhost:5173"
